//// transition

body,
.header,
.home-upcoming-movie-detail-vote > span {
  transition: background-color $delay-change-theme $cubic;
}

.header-mobile-menu-button,
.home-weekly-trends-title,
.home-upcoming-this-month-title,
.home-upcoming-movie-title,
.home-upcoming-movie-details-names,
.home-upcoming-movie-detail-popularity,
.home-upcoming-movie-detail-genre,
.home-upcoming-movie-detail-vote,
.home-upcoming-movie-detail-vote > span,
.home-upcoming-movie-desc-title,
.footer-text {
  transition: color $delay-change-theme $cubic;
}

//// theme styles
.light-theme {
  background-color: $background-color-light;

  & .header {
    background-color: $background-color-light;
  }

  & .logo-text {
    color: $text-color-dark;
  }

  & .header-nav-link,
  & .header-mobile-menu-button {
    color: $grey-white-theme;
  }

  & .home-weekly-trends-title,
  & .home-upcoming-this-month-title,
  & .home-upcoming-movie-title,
  & .home-upcoming-movie-details-names,
  & .home-upcoming-movie-desc-title {
    color: $title-color-dark;
  }

  & .home-upcoming-movie-detail-popularity,
  & .home-upcoming-movie-detail-genre,
  & .home-upcoming-movie-detail-vote,
  & .home-upcoming-movie-desc {
    color: $text-color-dark;
  }

  & .home-upcoming-movie-detail-vote > span {
    color: $text-color-light;
    background-color: $background-color-dark;
  }

  & .footer-text {
    color: $grey-white-theme;
  }
}
