//// transition

body,
.header,
.home-upcoming-movie-detail-vote > span,
.swiper-cube .swiper-cube-shadow:before {
  transition: background-color $delay-change-theme $cubic;
}

.hero-wrapper .swiper-slide::before {
  transition: background-image $delay-change-theme $cubic;
}

.header-mobile-menu-button,
.home-weekly-trends-title,
.home-upcoming-this-month-title,
.home-upcoming-movie-title,
.home-upcoming-movie-details-names,
.home-upcoming-movie-detail-popularity,
.home-upcoming-movie-detail-genre,
.home-upcoming-movie-detail-vote,
.home-upcoming-movie-detail-vote > span,
.home-upcoming-movie-desc-title,
.footer-text,
.hero-text,
.hero-title {
  transition: color $delay-change-theme $cubic;
}

//// theme styles
.light-theme {
  background-color: $background-color-light;

  & .button-light-theme {
    color: $accent-color;
    box-shadow: inset 0 0 0 1000px $background-color-dark;
    &:hover,
    &:focus {
      color: $accent-color;
      box-shadow: inset 0 0 0 1000px $background-color-light, $shadow;
    }
  }

  & .button-dark-theme {
    color: $text-color-dark;

    box-shadow: inset 0 1000px $text-color-light;

    &:hover,
    &:focus {
      color: $accent-color;
      box-shadow: inset 0 0 0 1000px $background-color-dark, $shadow;
    }
  }

  & .header,
  & .modal-movie-card-wrap {
    background-color: $background-color-light;
  }

  & .logo-text {
    color: $text-color-dark;
  }

  & .header-nav-link,
  & .header-mobile-menu-button {
    color: $grey-white-theme;
  }

  & .home-weekly-trends-title,
  & .home-upcoming-this-month-title,
  & .home-upcoming-movie-title,
  & .home-upcoming-movie-details-names,
  & .home-upcoming-movie-desc-title,
  & .modal-movie-card-title,
  & .modal-movie-card-details-names,
  & .modal-movie-card-desc-title {
    color: $title-color-dark;
  }

  & .home-upcoming-movie-detail-popularity,
  & .home-upcoming-movie-detail-genre,
  & .home-upcoming-movie-detail-vote,
  & .home-upcoming-movie-desc,
  & .modal-movie-card-detail-popularity,
  & .modal-movie-card-detail-genre,
  & .modal-movie-card-detail-vote,
  & .modal-movie-card-desc {
    color: $text-color-dark;
  }

  & .home-upcoming-movie-detail-vote > span,
  & .modal-movie-card-detail-vote > span {
    color: $text-color-light;
    background-color: $background-color-dark;
  }

  & .footer-text {
    color: $grey-white-theme;
  }

  & .modal-movie-card-button-close > svg {
    stroke: $title-color-dark;
  }

  & .swiper-cube .swiper-cube-shadow:before {
    background-color: $background-color-dark;
  }

  // & .hero-text {
  //   color: $text-color-dark;
  // }

  // & .hero-title {
  //   color: $text-color-dark;
  // }

  // & .hero-wrapper .swiper-slide::before {
  //   background-image: linear-gradient(
  //       90deg,
  //       rgba(0, 0, 0, 0.8) 0%,
  //       rgba(255, 255, 255, 0) 60%,
  //       rgba(255, 255, 255, 0) 60%,
  //       rgba(255, 255, 255, 1) 100%
  //     ),
  //     linear-gradient(
  //       180deg,
  //       rgba(255, 255, 255, 0.5) 0%,
  //       rgba(255, 255, 255, 0) 35%,
  //       rgba(255, 255, 255, 0) 65%,
  //       rgba(255, 255, 255.5) 100%
  //     );
  // }
}
