.hero-title {
  color: $title-color;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  margin-bottom: 8px;

  @include tablet {
    max-width: 332px;
    font-size: 36px;
    margin-bottom: 12px;
  }
  @include desktop {
    font-size: 44px;
    margin-bottom: 16px;
    max-width: 464px;
  }
}
