.hero-text {
  overflow-y: scroll;
  color: $text-color-light;

  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
  max-width: 166px;
  max-height: 150px;

  @include tablet {
    max-width: 357px;
    margin-bottom: 28px;
  }
  @include desktop {
    max-width: 464px;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 36px;
  }
}

.hero-text-second {
  display: none;
  @include tablet {
    display: inline;
  }
}
