.hero-wrapper {
  max-width: 1440px;
  & .swiper-slide::before {
    content: '';
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 1) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(17, 17, 17, 1) 100%
      ),
      linear-gradient(
        90deg,
        rgba(17, 17, 17, 1) 0%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0) 80%,
        rgba(17, 17, 17, 1) 100%
      );
  }

  & .swiper-slide {
    height: 380px;
    display: flex;
    justify-content: center;
    @include desktop {
      height: 660px;
    }
  }

  & .container {
    padding-top: 40px;
    position: relative;
    z-index: 1;

    @include tablet {
      padding-top: 36px;
    }

    @include desktop {
      max-height: 660px;
      padding-top: 118px;
    }
  }

  & .swiper-horizontal > .swiper-scrollbar {
    left: 50%;
    transform: translateX(-50%);
    max-width: 1440px;
  }
}

.hero-background-img {
  border-radius: 50px;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  max-width: 1440px;

  @include tablet {
  }

  @include desktop {
  }
}

.hero-movie-rating {
  width: 100px;
  height: 16px;
  margin-bottom: 20px;

  @include tablet {
    width: 124px;
    height: 20px;
  }

  @include desktop {
    width: 150px;
    height: 24px;
    margin-bottom: 28px;
  }
}

.hero-button-wrap {
  display: flex;
  gap: 10px;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: $accent-color;
  border-radius: 50%;
  box-shadow: $shadow-hover, inset $shadow-hover;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: $accent-color;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-pagination-bullet-active {
  background-color: $accent-color;
}

.swiper-cube .swiper-cube-shadow:before {
  background: #ffffff;
}

.hero-text-wrap {
  // box-sizing: content-box;
  // padding: 25px;
  // border-radius: 25px;
  // background-color: rgba(0, 0, 0, 0.316);
}
