<section id="my-library" class="my-library">
  <div class="container">
    <div class="my-library-content js-my-library-content">

    
        <div class="js-select-my-library-genre-list select-my-library">
          <div class="select-my-library-selected-option">
            All Genres
            <svg class="select-my-library-icon icon-down">
              <use href="./images/sprite/sprite.svg#select-icon-down""></use>
            </svg> 
            <svg class="select-my-library-icon icon-up">
              <use href="./images/sprite/sprite.svg#select-icon-up""></use>
            </svg>
          </div>
          <div class="select-my-library-option-list">
            <div class="select-my-library-option-value">All Genres</div>
          </div>
        </div>
    

      <ul
        class="js-open-modal-movie my-library-movies-list js-my-library-movies-list"
      ></ul>
      <button
        type="button"
        class="my-library-load-more-button js-my-library-load-more-button button-accent"
      >
        Load more
      </button>
    </div>
  </div>
</section>
