// size
$mob: 320px;
$tab: 768px;
$desk: 1280px;

//colors//
$white: #ffffff;
$black: #000000;
$accent-color: #f87719;

$title-color: #ffffff;
$title-color-light: #ffffff;
$title-color-dark: #111111;
$sub-title-color: #b7b7b7;
$grey-white-theme: #595959;

$text-color-dark: #282828;
$text-color-light: #f8f8f8;

$background-color-light: #ffffff;
$background-color-dark: #111111;

$linear-gradient-main: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
$linear-gradient-second: linear-gradient(
  145deg,
  #f84119 0%,
  rgba(248, 159, 25, 0.68) 100%
);

$shadow: 1px 1px 14px 1px rgba(1, 1, 1, 0.25);
$shadow-hover: 1px 1px 14px 1px #f87719;
//cubic//
$delay: 250ms;
$delay-change-theme: 1000ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
