

.select-my-library {
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 36px;
  }
  @include desktop {
    margin-bottom: 48px;
  }

  & .select-my-library-selected-option {
    width: 180px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 12px;
    border: 0.5px solid rgba(248, 248, 248, 0.2);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: $color-subtitles;
    color: #b7b7b7;
    background: #1c1c1c;

    @include tablet {
      width: 185px;

      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 20px;
      padding-right: 14px;
    }

    @include desktop {
      padding-top: 14.5px;
      padding-bottom: 14.5px;
      padding-left: 20px;
      padding-right: 14.5px;
    }
  }
  & .select-my-library-option-list {
    height: 236px;
    overflow: auto;
  }

  & .option {
    width: 180px;
    padding: 12px 20px;
    background: #1c1c1c;
    border: 0.5px solid rgba(248, 248, 248, 0.2);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #f8f8f8;

    transition: color 300ms $cubic;

    @include tablet {
      width: 185px;
    }

    @include desktop {
      font-size: 16px;
      line-height: 1.18;
    }

    &:hover {
      color: $accent-color;
    }
  }
}

.select-my-library-icon {
  width: 16px;
  height: 16px;
  stroke: $text-color;

  &.icon-down,
  &.icon-up {
    position: absolute;
    right: 20px;

    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  }

  &.icon-up {
    opacity: 0;
    visibility: hidden;
  }
}

.select-my-library-selected-option:hover .select-my-library-icon.icon-down {
  opacity: 0;
  visibility: hidden;
}

.select-my-library-selected-option:hover .select-my-library-icon.icon-up {
  opacity: 1;
  visibility: visible;
}
