<label>
  <input type="checkbox" class="js-theme-switch-toggle toggle-input" />
  <span class="toggle-track">
    <svg class="icon-toggle-dark-theme" width="12" height="12">
      <use href="./images/icon/sprite.svg#icon-toggle-dark-theme"></use>
    </svg>
    <span class="toggle-indicator">
      <svg width="12" height="12">
        <use href="./images/icon/sprite.svg#icon-toggle-indicator"></use>
      </svg>
    </span>
    <svg class="icon-toggle-light-theme" width="12" height="12">
      <use href="./images/icon/sprite.svg#icon-toggle-light-theme"></use>
    </svg>
  </span>
</label>
