<label class="toggle infinite-scroll" for="uniqueID">
  <input
    type="checkbox"
    class="infinite-scroll-input toggle-input"
    id="uniqueID"
  />
  <span class="toggle-track">
    <svg class="icon-toggle-dark-theme" width="12" height="12">
      <use href="./images/icon/sprite.svg#icon-toggle-dark-theme"></use>
    </svg>
    <span class="toggle-indicator">
      <svg width="12" height="12">
        <use href="./images/icon/sprite.svg#icon-toggle-indicator"></use>
      </svg>
    </span>
    <svg class="icon-toggle-light-theme" width="12" height="12">
      <use href="./images/icon/sprite.svg#icon-toggle-light-theme"></use>
    </svg>
  </span>
</label>
