<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="./index.html" class="logo" aria-label="Go to homepage">
        <img class="logo-img" src="./images/logo.webp" alt="logotype" />
        <span class="logo-text">Cinemania</span>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="./index.html" class="js-header-nav-link header-nav-link"
              >Home</a
            >
          </li>
          <li class="header-nav-item">
            <a href="./catalog.html" class="js-header-nav-link header-nav-link"
              >Catalog</a
            >
          </li>
          <li class="header-nav-item">
            <a
              href="./my-library.html"
              class="js-header-nav-link header-nav-link"
              >Library</a
            >
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="header-mobile-menu-button js-open-mobile-menu-button"
      >
        Menu
      </button>
      <!--// toggle switch checkbox -->
      <include src="../src/partials/elements/toggle-switch.html"></include>
    </div>
  </div>
  <include src="../src/partials/mobile-menu.html"></include>
</header>
