<div class="mobile-menu">
  <div class="mobile-menu-content">
    <a
      href="./index.html"
      class="logo logo-mobile-menu"
      aria-label="Go to homepage"
    >
      <img class="logo-img" src="./images/logo.webp" alt="logotype" />
    </a>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a class="js-header-nav-link mobile-menu-nav-link" href="./index.html"
            >Home</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a
            class="js-header-nav-link mobile-menu-nav-link"
            href="./catalog.html"
            >Catalog</a
          >
        </li>
        <li class="mobile-menu-nav-item">
          <a
            class="js-header-nav-link mobile-menu-nav-link"
            href="./my-library.html"
            >Library</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
