.modal-move-to-page {
  width: 300px;

  background-color: #8a8a8a;
  padding: 50px 30px;

  & form button {
    background-color: rgb(191, 191, 191);
    padding: 5px;
  }
}

// .backdrop-move-to-page {
// }
