.movie-card {
  border-radius: 5px;
  position: relative;
  box-shadow: $shadow;
  transition: transform $delay $cubic, box-shadow $delay $cubic;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    position: absolute;

    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 63.48%,
      rgba(0, 0, 0, 0.9) 92.16%
    );
  }

  &:hover {
    box-shadow: $shadow-hover;
    transform: scale(1.03);
  }
}

.movie-card:first-child {
  display: block;
}

.movie-card-img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.movie-card-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: grid;
  grid-gap: 6px 10px;
  grid-template-columns: 1fr 88px;
  grid-template-rows: 1fr 14px;
  grid-template-areas:
    'title title'
    'text rating';

  padding: 12px;

  @include tablet {
    grid-template-columns: 1fr 64px;
    grid-template-rows: 1fr 10px;
  }

  @include desktop {
    grid-template-columns: 1fr 114px;
    grid-template-rows: 1fr 18px;
    padding: 20px;
  }
}

.movie-card-title {
  grid-area: title;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  text-transform: uppercase;

  @include tablet {
    line-height: 1.5;
  }
  @include desktop {
    font-size: 20px;
    line-height: 1.15;
  }
}

.movie-card-text {
  grid-area: text;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: $sub-title-color;

  @include tablet {
    line-height: 1.5;
  }
  @include desktop {
    font-size: 20px;
    line-height: 1.15;
  }
}

.movie-card-rating {
  grid-area: rating;
}
