.selected-option,
.option-list,
.option-list > div {
  position: relative;
  z-index: 11;
  background-color: rgb(41, 41, 41);
}

.selected-option,
.option-list > div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.selected-option {
  border: 1px solid rgb(141, 141, 141);
  border-radius: 4px;
}

.option-list {
  /* pointer-events: none; */
  opacity: 0;
  visibility: hidden;
  position: absolute;

  transform: scaleY(0);
  transform-origin: top;

  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.option-list > div {
  border: 1px solid rgb(141, 141, 141);
}

.option-list > div:last-child {
  border-radius: 0px 0px 4px 4px;
}

.select-active .option-list {
  opacity: 1;
  visibility: visible;

  transform: scaleY(1);
}

.select-active .selected-option {
  border-radius: 4px 4px 0px 0px;
}
