.modal-movie-card-backdrop {
  align-items: flex-start;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal-movie-card-wrap {
  background-color: $background-color-dark;
  max-width: 280px;
  border-radius: 16px;
  padding: 20px 16px 52px 16px;

  display: grid;
  row-gap: 22px;
  @include tablet {
    position: relative;
    padding: 44px;
    column-gap: 16px;
    max-width: 704px;
    grid-template-columns: 294px 1fr;
  }
  @include desktop {
    padding: 60px;
    max-width: 846px;
    grid-template-columns: 375px 1fr;
  }
}

.modal-movie-card-button-close {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 8px;
  @include tablet {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  @include desktop {
    top: 40px;
    right: 40px;
  }

  & svg {
    stroke: $title-color-light;
    width: 24px;
    height: 24px;
  }
}

.modal-movie-card-img {
  box-shadow: $shadow;
  border-radius: 5px;
  object-fit: cover;
  width: 248px;

  transition: box-shadow $delay $cubic;
  @include tablet {
    width: 294px;
  }

  @include desktop {
    width: 375px;
  }

  &:hover {
    box-shadow: $shadow-hover;
  }
}

.modal-movie-card-title {
  font-size: 20px;
  font-weight: 500;
  color: $title-color;
  margin-bottom: 28px;
  @include tablet {
    font-size: 24px;
  }
}

.modal-movie-card-details-wrapper {
  display: grid;
  row-gap: 12px;
  align-items: start;

  grid-template-columns: 50% 50%;

  margin-bottom: 20px;

  @include tablet {
    grid-template-columns: 45% 55%;
  }
  @include desktop {
    row-gap: 14px;
  }
}

.modal-movie-card-details-names {
  color: $sub-title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;

  @include tablet {
    line-height: 1;
  }
  @include desktop {
    font-size: 16px;
  }
}

.modal-movie-card-detail-vote > span {
  display: inline-block;
  min-width: 36px;
  padding: 2px 8px;
  background-color: $background-color-light;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  color: $title-color-dark;

  text-transform: uppercase;
  @include desktop {
    font-size: 14px;
  }
}

.modal-movie-card-detail-vote,
.modal-movie-card-detail-popularity,
.modal-movie-card-detail-genre {
  color: $white;
  font-size: 14px;
  font-weight: 500;
  @include desktop {
    font-size: 16px;
  }
}

.modal-movie-card-desc-title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  text-transform: uppercase;
  color: $sub-title-color;

  @include tablet {
    margin-bottom: 12px;
  }
  @include desktop {
    font-size: 16px;
  }
}
.modal-movie-card-desc {
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 1.66;
  color: $text-color-light;
  @include tablet {
    margin-bottom: 24px;
    max-height: 140px;
    overflow: auto;
  }
}
