<section class="home-hero hero-section">
  <div class="container">
    <div class="js-open-modal-movie">
      <h1 class="home-hero-title hero-title">Let’s Make Your Own Cinema</h1>
      <p class="home-hero-text hero-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.
        <span class="hero-text-second">
          Decorate your space, choose your films, and stock up on snacks for the
          full experience.</span
        >
      </p>

      <div class="hero-button-wrap">
        <a class="button-accent" href="./catalog.html">Get Started</a
        ><button type="button" data-movie_id="667538" class="button-accent">
          Get Open Modal
        </button>
      </div>
    </div>
  </div>
</section>
